<h3>Table of Contents</h3>
<ul>
  <li><a href="#ps">Purpose of Sharing</a>
    <ul>
      <li><a href="#ps1">Why share my code?</a></li>
      <li><a href="#ps2">What are the Terms of Use?</a></li>
    </ul>
  </li>
      
  <li><a href="#rwa">Ruby Wednesday Articles</a>
    <ul>
      <li><a href="#rwa1">What does an article require?</a></li>
      <li><a href="#rwa2">How do I prepare my source code?</a></li>
      <li><a href="#rwa3">How do I submit an article?</a></li>
      <li><a href="#rwa4">Why submit to through the Ruby Wednesday Editors?</a></li>
      <li><a href="#rwa5">Why submit through the submission wizard?</a></li>
      <li><a href="#rwa6">Where do I submit an article?</a></li>
      <li><a href="#rwa7">What's a basename?</a></li>
      <li><a href="#rwa8">What should I put in the description?</a></li>
      <li><a href="#rwa9">What's my author ID?</a></li>
      <li><a href="#rwa10">How do I use tags and location?</a></li>
      <li><a href="#rwa11">What license should I use?</a></li>
      <li><a href="#rwa12">What files should I upload?</a></li>
      <li><a href="#rwa13">Where did my files go, and how do I use them?</a></li>
      <li><a href="#rwa14">I have to finish my article later. How can I do this and not lose my progress?</a></li>
      <li><a href="#rwa15">How do I use the article editor?</a></li>
        <ul>
          <li><a href="#rwa15_1">You know HTML</a></li>
          <li><a href="#rwa15_2">You DON'T know HTML</a></li>
        </ul>
      </li>
      <li><a href="#rwa16">How do I update my article?</a></li>
      <li><a href="#rwa17">How do I embed video in my article?</a></li>
      <li><a href="#rwa18">Can I submit an article based on another person's work?</a></li>
      <li><a href="#rwa19">Can I submit code I've already posted at another site?</a></li>
      <li><a href="#rwa20">Why is there content moderation at Ruby Wednesday?</a></li>
      <li><a href="#rwa21">What is Pending status?</a></li>
      <li><a href="#rwa22">Why is my "Pending" article in "Composing" status now?</a></li>
      <li><a href="#rwa23">What is a Ruby Wednesday Mentor?</a></li>
      <li><a href="#rwa24">I can't get the formatting right in my article. What do I do?</a></li>
      <li><a href="#rwa25">My article was approved and all the votes and comments are gone. Why?</a></li>
      <li><a href="#rwa26">I posted my article a year ago, and it is still unedited. Why?</a></li>
    </ul>
  </li>
</ul>
<h4><a name="ps">Purpose of Sharing</a></h4>
<ol>
  <li>    
    <p><a name="ps1">Why share my code?</a></p>
    <p>Sharing code with others is a great way to not only help others, but also to become a better programmer. With many thousands of people downloading your code you will not only get a lot of positive feedback, but also bug fixes, free testing, and more often than not, suggestions on how to make the code even better. It also encourages others to share their code, which in turn gives you access to an even larger base of free source code.</p>
  </li>
  <li>
    <p><a name="ps2">What are the Terms of Use?</a></p>
    <p>If you post to Ruby Wednesday then your code is offered under the terms of our Terms of Use and under the specific license agreement attached to the article. You also agree to the Contributors Agreement, which ensures you have the right to post the content, allows us to actually publish your content, and provides further protection for you on top of the License you choose for your content.</p>
  </li>
</ol>

<h4><a name="rwa">Ruby Wednesday Articles</a></h4>
<ol>
  <li>
    <p><a name="rwa1">What does an article require?</a></p>
    <p>First and foremost, we need some documentation. This doesn't have to be anything fancy, though we don't mind if it is, but if you think about answering the following questions then you should be off to a good start.</p>
    <ul>
      <li>What does the code do?</li>
      <li>How do I integrate it with my existing code or how do I use it?</li>
      <li>If there is a similar article on Ruby Wednesday already, then how does this one differ? Why would someone want to use your version?</li>
      <li>Is there some aspect of the code that is of particular interest that perhaps should be covered in the article?</li>
      <li>Are there any particular environments the code is restricted to? (Windows, Linux or OS X, Rails 3, etc)</li>
    </ul>
    <p>The idea is to give the reader a clear idea of the purpose of your code, instead of forcing them to download a project, build it and then hunt around to find out what the sample does. This means articles that are code snippets, with no explanation of what the snippet does, are insufficient.</p>
  </li>
  <li>
    <p><a name="rwa2">How do I prepare my source code?</a></p>
    <p>First and foremost, does the code actually work? We do sometimes get code that, for one reason or another, just does not work. Please check that the source code you send compiles cleanly, and if part of a larger demo application, that the application itself runs OK.</p>
    <p>We do ask that the general conventions be adhered for your language to so that other programmers can understand your code easily. Conventions that help other programmers read your code are:</p>
    <ul>
      <li>asdf</li>
      <li>asdf</li>
    </ul>
    <p>Also, does the code run cleanly?</p>
  </li>
  <li>
    <p><a name="rwa3">How do I submit an article?</a></p>
    <p>You can either submit the article and code to us directly at submit@rubywednesday.com, or you can submit the article yourself using our submission wizard.</p>
    <p>If you use the submission wizard, then your article will remain in the "Unedited Articles" section until we get a chance to check it and move it into the main sections.</p>
  </li>
  <li>
    <p><a name="rwa4">Why submit to through the Ruby Wednesday Editors?</a></p>
    <p>Pros</p>
    <ul>
      <li>Article checked for grammar, spelling, and punctuation</li>
      <li>Article formatted correctly to Code Project Guidelines</li>
      <li>Improved readability</li>
      <li>Theoretically, higher ratings</li>
      <li>Easier for author, no processing or using a submission tool, or messing with HTML</li>
    </ul>
    <p>Cons</p>
    <ul>
      <li>Article process time is typically 1-2 days</li>
      <li>Once submitted, you cannot update your article personally, and must submit update requests to Code Project editors (therefore, not a good option for users who expect repeated updates)</li>
    </ul>
  </li>
  <li><a name="rwa5">Why submit through the submission wizard?</a></li>
    <p>Pros</p>
    <ul>
      <li>Submitted immediately</li>
      <li>Can be edited by author for as long as remains unedited</li>
    </ul>
    <p>Cons</p>
    <ul>
      <li>May not follow Ruby Wednesday format and submission guidelines</li>
      <li>Might be less readable, and less accessible</li>
      <li>Theoretically may receive lower ratings (Note: Many of our best authors do not submit articles to us, and have extremely high ratings)</li>
    </ul>
  </li>
  <li>
    <p><a name="rwa6">Where do I submit an article?</a></p>
    <p>From the home page, here:</p>

      PostArticle.png

    <p>Then click here:</p>

      ClickHere.png

    <p>Or from the home page, you can also click here:</p>

      SubmitArticle.png
  </li>
  <li>
    <p><a name="rwa7">What's a basename?</a></p>
    <p>The name you want to give your article's file without the '.rb' For example, if your basename is 'cool_code' then your article's URL will be named '.../cool_code'</p>
    <p>This name is important, as it helps search engines find your article. Make sure you name it something appropriate.</p>
  </li>
  <li>
    <p><a name="rwa8">What should I put in the description?</a></p>
    <p>300 characters or less (spaces included), on what your article's purpose. Be clear, and concise; it will decide whether or not someone reads your article.</p>
  </li>
  <li>
    <p><a name="rwa9">What's my author ID?</a></p>
    <p>Click here:</p>

      AuthorID.png
  </li>  
  <li>
    <p><a name="rwa10">How do I use tags and location?</a></p>
    <p>Simply begin typing into the Tags field. As you type, a dropdown of current tags will be displayed. Select accordingly.</p>
    
      InputtingTags.png
    <p>Also note the secondary dropdown where you can scroll through lists of languages, platforms, technologies, and audiences that apply.</p>
    
      ParentAttributes.png
    <p>Note: Some attributes are parent attributes. If you selecting Ruby as shown, you are actually selecting all children: Ruby 1.8, Ruby 1.9 and Ruby 2.0</p>
    <p>If you use the dropdown to select attributes, DO NOT check the parent attribute if all the children attributes do not apply</p>
  </li>
  <li>
    <p><a name="rwa11">What license should I use?</a></p>
    <p>Every license we offer is an open source license. If your code is not free for everyone, for any purpose, we cannot host it. We have a list of licenses here to help you choose the license appropriate for you and your code.</p>
  </li>
  <li>
    <p><a name="rwa12">What files should I upload?</a></p>
    <ul>
      <li>Small screen shot (PNG/GIF/JPEG only, maximum width 640 pixels)</li>
      <li>Zip file containing your source files (if appropriate)</li>
      <li>Zip file containing your sample application (if appropriate)</li>
    </ul>
  </li>
  <li>
    <p><a name="rwa13">OK I uploaded my files. Where did my files go, and how do I use them?</a></p>
    <p>Once you upload your source code and images, by default, the system will include your source and the first picture in the article for you at the top of the article as shown below.</p>
    
    FileLocation.png
    <p>Just above that under "Current Upload" is a list of the files you have uploaded, and the HTML link to use in your article. You can click the "(insert)" button to include files into the article body.</p>
  </li>
  <li>
    <p><a name="rwa14">I have to finish my article later. How can I do this and not lose my progress?</p>
    <p>Check this teenie, tiny box:</p>
      
    work_in_progress.png

    <p>Later when you come back check "My Articles" here:</p>

    MyArticles.png

    <p>Then select your article title, and on the next screen click "Modify"</p>

    SelectComposingArticle.png

    ClickModify.png
  </li>
  <li>
    <p><a name="rwa15">How do I use the article editor?</a></p>
    <p><a name="rwa15_1">You know HTML</a></p>
    <p>This is the most ideal. Select the anchor to switch between HTML and WYSIWYG (What You See Is What You Get) modes. Please note, class designations (ie. table class="ArticleTable") have specific capitalization.</p>
    <p>Use this anchor button to switch between the two modes:</p>
      
    Anchor.png
    Collapse
      
    &lt;p&gt;Paragraphs go in paragraph tags.&lt;/p&gt;<br /><br />
      
    &lt;ul&gt;<br />
    &nbsp;&nbsp;&lt;li&gt;Unordered lists go in these tags&lt;/li&gt;<br />
    &lt;/ul&gt;<br /><br />
      
    &lt;code&gt;All your variables, class names, properties, etc. must go inside&lt;/code&gt;<br /><br />
    
    &lt;strong&gt;If you really want to bold something, use this tag. But we don't like it&lt;/strong&gt;<br /><br />
      
    &lt;em&gt;All file names inside the article must be italicized: .zip, .rb, .erb, .html, etc.&lt;/em&gt;

    <p>Headings must be used like this</p>
    Collapse

    &lt;h2&gt;Main Headings&lt;/h2&gt;<br />
    &lt;h3&gt;Sub Heading to h2 Heading - a Sub Topic to the Previous Topic&lt;/h3&gt;<br />
    &lt;h4&gt;Sub Heading to h3 Heading - a Sub Topic to the Previous Topic&lt;/h4&gt;<br />
    &lt;h5&gt;Sub Heading to h4 Heading - a Sub Topic to the Previous Topic&lt;/h5&gt;<br /><br />       
       
    &lt;div class="Caption"&gt;Captions go in this div class&lt;/div&gt;<br /><br />       
       
    &lt;table class="ArticleTable"&gt;<br />
    &nbsp;&nbsp;&lt;thead&gt;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;tr&gt;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;Tables with borders. This cell a bolded and colorized border because of thead&lt;/td&gt;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;This cell in this row ALSO has a bolded and colorized border because of thead&lt;/td&gt;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;/tr&gt;<br />
    &nbsp;&nbsp;&lt;/thead&gt;<br />
    &nbsp;&nbsp;&lt;tr&gt;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;This cell in this row is not bolded and colorized&lt;/td&gt;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;Neither is this one&lt;/td&gt;<br />
    &nbsp;&nbsp;&lt;/tr&gt;<br />
    &lt;/table&gt;<br /><br />       
     
    &lt;table class="ArticleTableNoBorder"&gt;<br />
    &nbsp;&nbsp;&lt;tr&gt;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;This table has no borders&lt;/td&gt;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;This table has no borders&lt;/td&gt;<br />
    &nbsp;&nbsp;&lt;/tr&gt;<br />
    &lt;/table&gt;<br />

    <p>You don't need to worry about colorizing your articles. We have a colorizer that takes care of this for you. If your article already contains colorization then don't worry - the colorizer cleans out all previous colorizing before recolorizing the entire article</p>

    &lt;code lang="ruby"&gt;my_var = 0;&lt;/code&gt;

    <p>The currently supported languages are:</p>
    <ul>
      <li>Plain Text (lang="text")</li>
      <li>CSS (lang="css")</li>
      <li>HTML (lang="html")</li>
      <li>Javascript (lang="jscript")</li>
      <li>Ruby (lang="ruby")</li>
      <li>SQL (lang="SQL")</li>
      <li>XML (lang="xml")</li>
    </ul>
    <p>Other languages can be added on request.</p>
    <p>Colorizing works on PRE and CODE tags. If you have a block (or line) of text you don't wish to be colored, set the lang value as "text".</p>
    <p><a name="rwa15_2">You DON'T know HTML</a></p>
    <p>You can paste your article into the editor and modify it using the buttons. BoldButton.png Bold, ImageButton.png Add Image, CodeButton.png Indicate Code in Paragraphs as Variables, Class Names, Properties, ListButtons.png Create Lists, LinkButton.png Add Link, RemoveFormattingButton.png Remove Automatic Formatting of Original Text Application (like Word), TableButton.png Insert Table.</p>
    <p>There's also Cut, Paste, Redo, and Undo. Beyond these, we wouldn't recommend messing with other icons. Ruby Wednesday articles have very simple formatting, which is the way we (and more importantly, members) like it.</p>
    </li>
  <li>
    <p><a name="rwa16">How do I update my article?</a></p>
    <p>If you used the submission wizard and your article has not yet been moved, then you can click on the "Modify" link just under the title of the article.</p>

    ClickModify.png

    <p>If your article has been edited by our editors, the only way to update it is to submit the updated source code and HTML to us. You can use the “Get Article’s HTML” from the link in the upper right hand corner of your article, and send both updated HTML and zipped sourced code to us at submit@rubywednesday.com.</p>
    <p>We reformat each article that is submitted, and try our best to ensure that all grammar and spelling mistakes have been corrected. It is far, far easier for us if you edit the HTML for your article that we have posted. Logon to CodeProject and at the top right of your article will be a link 'Get Article's HTML'. Click on this and then save the HTML for your article using the File | Save menu in your browser. Ignore the stuff at the top and bottom of your page - you will see "Article Starts" and "Article Ends" tags in the HTML that point to where the actual text for your article is. Strip out everything above and below these markers and edit the HTML directly</p>
    <p>If you only have a very small addition to make, or want to report spelling/grammar or link errors then you can just send these in as plain text.</p>
    <p>Send all updates to us and remember to include the name of the article and its URL in the email body.</p>
  </li>
  <li>
    <p><a name="rwa17">How do I embed video in my article?</a></p>
    <p>We allow Flash files to be embedded in articles by using the 'add a movie' icon in the article editor.</p>
  </li>
  <li>
    <p><a name="rwa18">Can I submit an article based on another person's work?</a></p>
    <p>It is OK to use others code as a base as long as you make it totally clear that some/most of the code isn't yours. If you use someone else's code then DO NOT remove their copyright notices. There is a lot of code reuse here, that's the point after all. As far as the articles that are being posted here we expect to see credit where credit's due, in the code and the HTML as appropriate.</p>
    <p>If you are submitting a modification, extension or correction to another persons work then we ask that you attempt to contact the original author first and then try to liaise with him/her to produce an update to the original article. This way we can retain continuity with the original article as well as reducing the number of completely new pages that need posting.</p>
    <p>We take plagiarism seriously at The Code Project. If you copy someone else's work (whole or even a tiny part) without referencing it, OR you cut and paste large sections and simply post a reference link at the bottom, your post will be removed, and your account will become inactive.</p>
  </li>
  <li>
    <p><a name="rwa19">Can I submit code I've already posted at another site?</a></p>
    <p>You are more than welcome to submit code that is already published at another site, provided you own the copyright on that article, and provided you have not given the other site exclusive rights to your article.</p>
  </li>
  <li>
    <p><a name="rwa20">Why is there content moderation at Ruby Wednesday?</a></p>
    <p>Certain user-submitted content on the site is subject to moderation. The purpose of moderation is to stop the publication of obviously inappropriate material, plagiarized content or content that is not of sufficient quality to be published at that point.</p>
    <p>Moderation is available to members who have contributed enough to the community that the system considers them a good judge of what is and isn't acceptable. If you suddenly find moderation buttons available to you then thank you - you've done a lot for the community and we would now like to give you the opportunity to do even more.</p>
    <p>If an author has genuinely tried to provide a decent material, even if they may need some encouraging to improve it, then the item should be approved by moderators.</p>
  </li>
  <li>
    <p><a name="rwa21">What is Pending status?</a></p>
    <p>Pending status means that an article is awaiting approval from Ruby Wednesday community. The vast majority of new articles on Ruby Wednesday need a couple of tiny improvements because they do not sufficiently explain the code within the article. The goal of this is three-fold:</p>
    <ol>
      <li>It ensures that articles are detailed enough that the majority of users can learn the most from each article</li>
      <li>It ensures the highest quality of articles on Ruby Wednesday</li>
      <li>It helps the author receive best response possible (highest ratings) on Ruby Wednesday</li>
    </ol>
  </li>
  <li>
    <p><a name="rwa22">Why is my "Pending" article in "Composing" status now?</a></p>
    <p>Sometimes articles have great ideas but need a slightly different presentation. If your article is in composing status, look to your article forum and take the advice of your peers to heart. Generally, your article probably needs to answer one of these questions better:</p>
    <ul>
      <li>What problem does this solution solve?</li>
      <li>How does this help someone else?</li>
      <li>How does the code actually work?</li>
      <li>What is going on inside the code snippets?</li>
    </ul>
  </li>
  <li>
    <p><a name="rwa23">What is a Ruby Wednesday Mentor?</a></p>
    <p>We have experienced authors who would be willing to help you with your article, to improve it, and help get it approved by the community. If we ask you if you want a Mentor and you say yes, we then submit your article to the Mentor Forum and hopefully one of our Mentors will assign themselves to it, and post helpful suggestions on your article's forum. You can talk discuss with them how to improve the article, and once they feel your article is ready, will make your article available to the community.</p>
  </li>
  <li>
    <p><a name="rwa24">I can't get the formatting right in my article. What do I do?</a></p>
    <p>Contact us at submit@rubywednesday.com. We're happy to help</p>
  </li>
  <li>
    <p><a name="rwa25">My article was approved and all the votes and comments are gone. Why?</a></p>
    <p>Because most new articles require improvements, they receive comments that, once the article is approved, will no longer be relevant. They also receive multiple 1 votes which authors do not like, so we remove both comments and votes. It is permanent. This is also why you cannot reply to some of your initial comments if you were notified by e-mail.</p>
  </li>
  <li>
    <p><a name="rwa26">I posted my article a year ago, and it is still unedited. Why?</a></p>
    <p>We only have limited staff to deal with thousands upon thousands of articles. We do our best to give them all some lovin', but the sad fact is there are too many. We work as hard as we can. If you can't wait, contact us at submit@rubywednesday.com so we can speed things up.</p>
  </li>
</ol>
<h4>License</h4>
<p>This article, along with any associated source code and files, is licensed under Ruby Wednesday Open License (RWOL)</p>